<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="userRegistrationController.GETUser"></class>
      <class name="userRegistrationController.PUTUser"/>
      <class name="userRegistrationController.POSTUser"/>
      <class name="userRegistrationController.PATCHlicense"/><class
      	name="userRegistrationController.newExtraction">
</class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
